
.bg-green{
    color:white;
    background-color: green;
}

.ag-cell-value{
    background-color: red !important;
    color: white !important;
}

.show-table{
    width: 100%;
    height: 100%;
}



